In [48]:
import json
import xmltodict
import json
import pandas as pd
from glom import glom
file = ".\instances\BrazilInstance2.xml"

with open(file) as xml_file:

    data_dict = xmltodict.parse(xml_file.read())
    xml_file.close()

    json_data = json.dumps(data_dict)

    with open("data.json", "w") as json_file:
        json_file.write(json_data)
        json_file.close()

df = pd.read_json('data.json')


def extraindo_entidades(_df: pd.DataFrame, _caminho_arvore: str,
                        _ultimo_no: str) -> pd.DataFrame:

    data = _df.apply(
        lambda row: glom(row, _caminho_arvore))

    extract = pd.json_normalize(
        data,
        record_path=[_ultimo_no],
    )
    print(_caminho_arvore, _ultimo_no)
    display(extract)
    return extract

df_days = extraindo_entidades(df, 'Instances.Instance.Times.TimeGroups', 'Day')

df_time_slots = extraindo_entidades(df, 'Instances.Instance.Times', 'Time')

df_resources_types = extraindo_entidades(df, 'Instances.Instance.Resources.ResourceTypes', 'ResourceType')

df_resources_groups = extraindo_entidades(df, 'Instances.Instance.Resources.ResourceGroups', 'ResourceGroup')

df_resources = extraindo_entidades(df, 'Instances.Instance.Resources', 'Resource')

df_events_groups_course = extraindo_entidades(df, 'Instances.Instance.Events.EventGroups', 'Course')

df_events = extraindo_entidades(df, 'Instances.Instance.Events', 'Event')

Instances.Instance.Events Event

,@Id,Name,Duration,Course.@Reference,Resources.Resource,EventGroups.EventGroup.@Reference
0,T1-S1,T1-S1,4,gr_T1-S1,"[{'@Reference': 'S1', 'Role': 'Class', 'Resour...",gr_AllEvents
1,T1-S2,T1-S2,3,gr_T1-S2,"[{'@Reference': 'S2', 'Role': 'Class', 'Resour...",gr_AllEvents
2,T1-S3,T1-S3,4,gr_T1-S3,"[{'@Reference': 'S3', 'Role': 'Class', 'Resour...",gr_AllEvents
3,T2-S2,T2-S2,1,gr_T2-S2,"[{'@Reference': 'S2', 'Role': 'Class', 'Resour...",gr_AllEvents
4,T2-S4,T2-S4,3,gr_T2-S4,"[{'@Reference': 'S4', 'Role': 'Class', 'Resour...",gr_AllEvents
...,...,...,...,...,...,...
58,T14-S1,T14-S1,1,gr_T14-S1,"[{'@Reference': 'S1', 'Role': 'Class', 'Resour...",gr_AllEvents
59,T14-S2,T14-S2,1,gr_T14-S2,"[{'@Reference': 'S2', 'Role': 'Class', 'Resour...",gr_AllEvents
60,T14-S3,T14-S3,1,gr_T14-S3,"[{'@Reference': 'S3', 'Role': 'Class', 'Resour...",gr_AllEvents
61,T14-S4,T14-S4,1,gr_T14-S4,"[{'@Reference': 'S4', 'Role': 'Class', 'Resour...",gr_AllEvents
62,T14-S5,T14-S5,1,gr_T14-S5,"[{'@Reference': 'S5', 'Role': 'Class', 'Resour...",gr_AllEvents